@inherits UmbracoViewPage
@{

    <div class="cookie-warning" id="cw">
        <div class="container">
            <h3>Cookies</h3>
            <p>This site stores certain information as 'cookies' on your device in order to improve your website experience with Shropshire Council. We also share information about your use of the site with analytics partners who may combine it with other information that you've provided to them or that they've collected from your use of their services. </p>
            <p>You can <a href="/about-this-site/cookie-information">review and set individual cookie settings here</a>.</p>
            <a href="#" class="cookieaccept" onclick="setcookieacceptall(true); return false">Accept all cookies</a>
            <a class="cookiesettings" href="#" onclick="setcookierejectall(); return false;">Essential cookies only</a>
        </div>
    </div>

}   